.home,
.signup,
.login {
  background: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  height: 92vh;
  padding-top: 10%;
}

.home-container {
  background: rgba(221, 221, 221, 0.6);
  width: 50%;
  margin: 0 auto;
  padding: 3%;
}

.sign-form,
.login-form {
  background: rgba(221, 221, 221, 0.6);
  width: 50%;
  margin: 0 auto;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

div.jumbotron {
  background: url("https://images.unsplash.com/photo-1486607303850-bc051a4ffad4?ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  border-radius: 0;
}

.total {
  background: #343a40;
  padding: 1% 2% 1% 1%;
  border-radius: 2em;
  border: 2px solid rgb(0, 205, 0);
}

div.form-group {
  margin: 0;
}

.exp-form {
  background: #343a40;
  color: white;
  padding: 3% 7%;
}

.rem-form {
  background: rgba(221, 221, 221, 0.6);
  padding: 3% 7%;
}

span.btn {
  width: 30%;
  font-size: 1.2em;
}

button.btn.btn-info {
  font-size: 1.2em;
}

button.btn.btn-purple {
  background: #6f42c1;
  font-size: 1.2em;
  color: white;
}

button.btn.btn-purple:hover {
  background: #5b34a4;
}

input[type="date"] {
  width: 20%;
}

.col-md-7,
.col-md-5 {
  overflow: scroll;
  height: 430px;
}

.display {
  display: none;
}

@media (max-width: 950px) {
  .total {
    display: block;
    width: 60%;
  }
}
