.home,
.signup,
.login {
  background: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  height: 92vh;
  padding-top: 10%;
}

.home-container {
  background: rgba(221, 221, 221, 0.6);
  width: 50%;
  margin: 0 auto;
  padding: 3%;
}

.sign-form,
.login-form {
  background: rgba(221, 221, 221, 0.6);
  width: 50%;
  margin: 0 auto;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

div.jumbotron {
  background: url("https://images.unsplash.com/photo-1486607303850-bc051a4ffad4?ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  border-radius: 0;
}

.total {
  background: #343a40;
  padding: 1% 2% 1% 1%;
  border-radius: 2em;
  border: 2px solid #17a2b8;
}

div.form-group {
  margin: 0;
}

.exp-form {
  background: #343a40;
  color: white;
  padding: 3% 30% 3% 7%;
}

.rem-form {
  background: rgba(221, 221, 221, 0.6);
  padding: 3% 30% 3% 7%;
}

.hide {
  color: #007bff;
  text-decoration: underline;
}

.hide:hover {
  cursor: pointer;
}

input[type="textarea"] {
  height: 4em;
}

.edit {
  display: flex;
  flex-direction: column;
}

span.btn {
  width: 30%;
  font-size: 1.2em;
}

button.btn.btn-info {
  font-size: 1.2em;
}

button.btn.btn-purple {
  background: #6f42c1;
  font-size: 1.2em;
  color: white;
}

button.btn.btn-purple:hover {
  background: #5b34a4;
}

input.form-control.date {
  width: 25%;
}

.col-md-7,
.col-md-5 {
  overflow: scroll;
  height: 75vh;
}

.rem-table {
  background: url("https://img.freepik.com/free-photo/white-crumpled-paper-texture-background_64749-706.jpg?size=626&ext=jpg");
}

.editExpform {
  display: flex;
  flex-direction: column;
  background: rgba(221, 221, 221, 0.6);
  padding: 5% 6% 8%;
  margin-top: 2%;
}

.editRemForm {
  display: flex;
  flex-direction: column;
  background: #343a407e;
  padding: 5% 6% 8%;
  margin-top: 2%;
}

.display {
  display: none;
}

@media (max-width: 950px) {
  .total {
    display: block;
    width: 60%;
  }

  .col-md-7,
  .col-md-5 {
    height: inherit;
  }

  input.form-control.date {
    width: inherit;
  }
}
